* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
form {
  background-color: rgba(255, 255, 255, 0.1);
  width: 300px;
  max-width: 400px;
  height: 250px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  padding: 0 40px;
}
label {
  display: block;
  padding-left: 50px;
  margin: 20px 0;
  position: relative;
}
input[type="radio"] {
  display: none;
  transition: 1s color ease;
}
input[type="radio"]:checked ~ span {
  color: #ff9800;
}
.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 5px solid white;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  transition: 1s border ease;
}
.circle::before {
  content: "";
  height: 13px;
  width: 13px;
  background-color: #ff9800;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  margin-left: 6px;
  margin-top: 6px;
  transition: transform 1s ease;
  transform: scale(0);
}
input[type="radio"]:checked + .circle {
  border: 5px solid #ff9800;
}
input[type="radio"]:checked + .circle::before {
  transform: scale(1);
}
span {
  color: white;
  font-size: 28px;
  display: inline-block;
  padding-left: 20px;
  cursor: pointer;
}
